# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;uid=root;password=;database=essentialmode"
set es_enableCustomData 1

# These resources will start by default.
ensure mapmanager
ensure chat
ensure chat_theme
ensure esx_rpchat
ensure spawnmanager
ensure sessionmanager
ensure fivem
#ensure hardcap # rocademption has this
ensure rconlog
#ensure scoreboard # esx_scoreboard as replacement
#start screenshot-basic
start fivem-loadingscreen

#ensure fivem-map-hipster

#restart sessionmanager

# queue system
start rocademption

# essentialmode base
start mysql-async
start essentialmode
start es_ui # shows clean money .-.
start esplugin_mysql
start es_admin2

start es_extended

# ipl loader
start fivem-ipl

# [esx]->[helpers]
start instance
start cron
start skinchanger
start esx_voice
start esx_holsterweapon
start esx_scoreboard
start esx_anticheat
start interact-sound

start esx_menu_default
start esx_menu_list
start esx_menu_dialog

# [esx]->[phone]
start esx_addons_gcphone
start gcphone

# [scripts] -1-
start pNotify
start Weaponry

# [esx] -1-
start esx_license
start esx_dmvschool
start esx_addonaccount
start esx_addoninventory
start esx_society
start esx_identity
start esx_datastore
start esx_accessories
start esx_property
start esx_status
start esx_basicneeds
start esx_extraitems
start esx_skin
start esx_clotheshop
start new_banking
start esx_inventoryhud
start esx_inventoryhud_trunk
start esx_billing
start esx_animations
start esx_hunting
start esx_healthbar_ui
start esx_duty
start esx_getout

# [esx]->[jsfour]
start jsfour-idcard
start jsfour-blindfold
start jsfour-criminalrecord
start esx_personmenu

# [esx]->[shops]
start esx_shops
start esx_vehicleshop
start esx_lscustom
start esx_weaponshop
start esx_barbershop
start esx_tattooshop
start esx_carwash

# [esx] -2-
start esx_vehiclelock

start esx_advancedgarage

# [esx]->[eden]
start eden_accesories

# [esx]->[jobs]
start esx_jobs
start esx_joblisting
start esx_policejob
start esx_ambulancejob
start esx_mechanicjob
start esx_bankerjob
start esx_poolcleanerjob
start esx_mafiajob

# [esx]->[krille]
start esx_kr_vehicle_push
start esx_kr_bag_inventory

# [esx]->[qalle]
start esx_qalle_sellvehicles
start qalle_policearmory
start esx_qalle_jail

# [esx]->[robbery]
start 99kr_burglary
start esx_vangelico_robbery

# [esx]->[drugs]
start esx_ipl_teleport
start esx_drugs
start esx_drugeffects
start stasiek_selldrugs
start esx_moneywash

# [esx]->[extras]
start esx_checkdeathcause

# [Scripts]
start rp-scripts
start rp-idlogs
start pvp
start realisticvehiclefailure
start RealAITraffic
start RealisticHandle
start lux_vehcontrol
start 3dme
start jf_seatshuffle
start pausemenu
start VehicleExtraMenu
start VehicleLiveryMenu
start Weaponry
start removeAIcops
start vannouncer
start SeatbeltIndicator
start vstancer
start carhud

# [YMaps]
start prison-map-addon # qalle-jail

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "esx, roleplay, custom, en, eu, serious, rp, racing, cars, drifting, tuning, stancing, racing"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "nertigel\'s test server"

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Nested configs!
exec permissions.cfg

add_ace group.superadmin command allow # allow all commands
add_ace group.superadmin command.quit deny # but don't allow quit
add_principal identifier.steam:1100001124879e8 group.superadmin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey ooga_booga_nword_nword :)